<h1>Crud Storage Account by Francisco Leiva Iglesias</h1>
<div class="alert alert-danger alert" role="alert">
  <p class="tam">Informacion relevante para el funcionamiento de la App en el archivo README del proyecto</p>
</div>

<form action="">

    <div class="col">
        <div class="mb-3">
          <label class="form-label tam" for="email"
            ><strong>Operaciones con Container</strong></label
          ><input
            [(ngModel)]="containerName"
            class="form-control input"
            type="email"
            id="emai"
            placeholder="Nombre del Container"
            name="email"
          />
          <pre class="tam">este input se utiliza para escribir el nombre del contenedor deacuerdo a la operacion que queramos realizar con los botones
crear, eliminar o listar archivos que hay en un container existente.</pre> 
        </div>
      </div>
      
      <div class="mt-3">
        
        <button type="button" (click)="create()" class="btn btn-primary">Crear Container</button>
        <button type="button" (click)="listarFotos()" class="btn btn-success ml">Listar Archivos</button>
        <button type="button" (click)="delete()" class="btn btn-danger ml">Eliminar Container</button>
        <pre class="tam">El boton listar containers esta sujeto a la cuenta indicada en el blobContainer-storage.service y solo puede ser usado si hay un sas ingresado</pre>
        <button type="button" (click)="listar()" class="btn btn-warning">Listar Containers en Consola</button>
        
    </div>

</form>
<br>
<br>
<br>
<hr>
<h2>Dentro del Contenedor</h2>
<table>
  <tr>
    <td></td><td><input type="file" class="form-control input" (change)="imageSelected($event)"><button type="button" (click)="loadFile()" class="btn btn-primary mt-3">Cargar Archivo</button><pre class="tam">
      
      para agregar un archivo a un container primero tienes que escribir el nombre del container en el input y presionar el boton
      <strong>LISTAR ARCHIVOS</strong> de esa forma las variables tomaran el nombre del container correspondiente y podras
      agregar fotos o archivos a ese container en especifico.
    </pre></td> 
    
  </tr>
  <tr>
  <br>
  <br>
  </tr>
  <tr>
    <td>SAS Actual:</td><td><strong>{{sas}}</strong></td>
  </tr>
</table>
<br>
<br>
<h4>Nombres de los Archivos</h4>
<table>
  <tr *ngFor="let pic of fileList">
    <td>{{pic}}</td>
    <td><button type="button" (click)="downloadImage(pic)" class="btn btn-primary">Ver Archivo</button></td>
    <td><button type="button" (click)="deleteImage(pic)" class="btn btn-danger">Borrar Archivo</button></td>
  </tr>
</table>
<br>
<br>
<h2>Lista de Archivos Descargados</h2>
<img *ngFor="let blob of filesDownloaded" src="{{blob}}" height="200px">
<div class="imglst">
</div>

