<div class="row ">
  <div class="col-2">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col">
    <app-navbar></app-navbar>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
