.containerSide{
    background-color:#4e73df;
    padding: 25px;
    height: 100vh;
    min-height: 100%;
    border-radius: 1%;
}

.input {
    width: 80%;
    max-width: 500px;
    }
    
.tam{
    font-size: 18px;
}

.alert{
    width: 80%;
    max-width: 800px;
}

.imglst{
padding-top: 300px;
}

.ml{
    margin-left: 10px;
}